@keyframes ldio-xeheugkz0ae {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.ldio-xeheugkz0ae > div > div {
  transform-origin: 100px 100px;
  animation: ldio-xeheugkz0ae 3.0303030303030303s linear infinite;
  opacity: 0.8;
}
.ldio-xeheugkz0ae > div > div > div {
  position: absolute;
  left: 30px;
  top: 30px;
  width: 70px;
  height: 70px;
  border-radius: 70px 0 0 0;
  transform-origin: 100px 100px;
}
.ldio-xeheugkz0ae > div div:nth-child(1) {
  animation-duration: 0.7575757575757576s;
}
.ldio-xeheugkz0ae > div div:nth-child(1) > div {
  background: #ffb6bb;
  transform: rotate(0deg);
}
.ldio-xeheugkz0ae > div div:nth-child(2) {
  animation-duration: 1.0101010101010102s;
}
.ldio-xeheugkz0ae > div div:nth-child(2) > div {
  background: #ffe691;
  transform: rotate(0deg);
}
.ldio-xeheugkz0ae > div div:nth-child(3) {
  animation-duration: 1.5151515151515151s;
}
.ldio-xeheugkz0ae > div div:nth-child(3) > div {
  background: #95d5ee;
  transform: rotate(0deg);
}
.ldio-xeheugkz0ae > div div:nth-child(4) {
  animation-duration: 3.0303030303030303s;
}
.ldio-xeheugkz0ae > div div:nth-child(4) > div {
  background: #585872;
  transform: rotate(0deg);
}
.loadingio-spinner-wedges-0ih1wc92dyi {
  width: 50px;
  height: 50px;
  display: inline-block;
  overflow: hidden;
  background: #f6c4cd;
}
.ldio-xeheugkz0ae {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}
.ldio-xeheugkz0ae div {
  box-sizing: content-box;
}
